@model FinanceTrackerWebApp.Models.CreditCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Credit Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CardId" />
            <div class="form-group">
                <label asp-for="CustomCardName" class="control-label"></label>
                <input asp-for="CustomCardName" class="form-control" />
                <span asp-validation-for="CustomCardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBalance" class="control-label"></label>
                <input asp-for="TotalBalance" class="form-control" />
                <span asp-validation-for="TotalBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatementBalance" class="control-label"></label>
                <input asp-for="StatementBalance" class="form-control" />
                <span asp-validation-for="StatementBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextPaymentDueDateTime" class="control-label"></label>
                <input asp-for="NextPaymentDueDateTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="NextPaymentDueDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardManagementUrl" class="control-label"></label>
                <input asp-for="CardManagementUrl" class="form-control" />
                <span asp-validation-for="CardManagementUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditLimit" class="control-label"></label>
                <input asp-for="CreditLimit" class="form-control" />
                <span asp-validation-for="CreditLimit" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Go Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
